* {
    padding: 0;
    margin: 0;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main {
    background-color: chocolate;
    padding: 200px;
    border: 2px solid red;
    margin: 0 auto;
    width: 40%;
    
}
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn {
    background-color: aqua;
    width: 120px;
    height: 80px;
    border-radius: 8px;
}
.result-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 2rem;
}
.result-btn button {
    margin-bottom: 30px;
}
.result-btn button, #final-btn {
    background-color: cornflowerblue;
    padding: 20px 30px;
    border: none;
    border-radius: 12px;
    font-size: 24px;
}
.result {
    text-align: center;
    font-size: large;
}
.computer-result{
    text-align: center;
    font-size: large;
}
.result-para p{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
#final-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
